body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    background-color: #2C2F34;
}

.btn .caret {
    margin: 6px 0px 0px 3px;
    float: right;
}

.top, .bottom {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#sidebar {
    padding: 0;
    margin: 0;
    font-size: 11px;
    width: 30%;
    max-width: 250px;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #fff;
    color: #444;
    height: 100%;
}

.navbar-default {
    background: #131517;
    border-color: #cecece;
    border-radius: 0px;
    border: none;
    height: 44px;
    margin-bottom: 0px;
}

.navbar-default .navbar-brand {
    width: 217px;
    margin-right: 0px;
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #cecece;
}

.navbar-default ul li {
    background: #579357;
    margin-right: 1px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #cecece;
}

.panel-group .panel {
    border-radius: 0px;
    border: none;
}

.panel-title {
    font-size: 14px;
}

.panel-group .panel+.panel {
    margin-top: 2px;
}

.panel-default>.panel-heading {
    background-image: none;
}

.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown, .panel .panel-heading{
    text-align: center;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: none;
}

.btn-default {
    background-image: none;
    border-radius: 0px;
    padding: 5px;
    font-size: 12px;
    width: 170px;
    margin-bottom: 10px;
}

.dropdown-menu {
    border-radius: 0px;
}

.add {
    border: none;
    width: 25px;
    padding: 0px;
    margin: 0px;
    box-shadow: none;
}

.leftside {
    width: 49%;
    height: 100%;
    margin-right: 5px;
    float: left;
}

.rightside {
    width: 49%;
    height: 100%;
    float: left;
}

.extra {
    text-align: left;
}

.chk_lbl {
    font-size: 14px;
}

input, textarea {
    width: 100%;
    margin-bottom: 5px;
}

.ext_res {
    width: 155px;
}

.langcontainer {
    float: left;
    width: 85px;
    margin-bottom: 10px;
}

.langbutton {
    float: left;
    width: 85px;
    margin: 0px;
}

  .langright {
      margin-left: 10px;
  }
/*#main-container {*/
    /*display: inline-block;*/
    /*width: 70%;*/
    /*height: 100%;*/
    /*float: right;*/
/*}*/
#accordian {
  background: #272A2F;
  width: 30%;
  height: 100%;
  float: left;
  color: white;
}
/*heading styles*/
#accordian h3 {
  font-size: 14px;
  line-height: 72px;
  cursor: pointer;
  background:  #323539; 
}
/*heading hover effect*/
#accordian h3:hover {
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
#accordian h3 span {
  font-size: 16px;
  margin-right: 10px;
}
/*list items*/
#accordian li {
  list-style-type: none;
}
/*links*/
#accordian ul ul li a {
  color: white;
  text-decoration: none;
  font-size: 11px;
  line-height: 27px;
  
  /*transition for smooth hover animation*/
  transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover {
  background: #2C2F34;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
  display: none;
} 
#accordian li.active ul {
  display: block;
}