.country-usage-container {
    display: flex;
    flex-direction: row
}

.country-usage-graph {
    width: 70%;
}

.country-usage-list {
    width: 15%;
}

@media only screen and (max-width: 800px) {
    .country-usage-container {
        display: block;
    }
    .country-usage-list {
        width: 40%;
        margin: 0 auto;
    }

    .country-usage-graph {
        width: 100%;
    }
}
