.susi-body-noscroll {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

#susi-frame-container {
    z-index: 2147483000;
    overflow: auto;
    display: none;
    position: fixed;
    bottom: 85px;
    right: 20px;
    max-height: 610px;
    min-height: 280px;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
}

#susi-frame-wrap {
    display: block;
    position: relative;
    border: none;
    background-repeat: no-repeat;
    background-color: #fff;
    height: 100%;
    width: 100%;
    background-position: 150px 200px
}

.susi-send-button {
    margin: 0;
    font-family: Open Sans,sans-serif;
}

#susi-frame-tint {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    background: hsla(0, 0%, 100%, .45);
    z-index: 1004;
    display: none;
    left: 0
}

#susi-frame-container.susi-frame-container-active.susi-frame-center {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 500px
}

#susi-launcher-container.susi-launcher-center {
    bottom: 50%;
    right: 0;
}

#susi-launcher-container.susi-launcher-center .susi-launcher {
    border-radius: 8px 0 0 8px
}

#susi-launcher-container.susi-launcher-center.susi-avatar-launcher #susi-launcher {
    border-radius: 50% 0 0 50%
}

#susi-frame-container.susi-frame-container-active.susi-frame-left {
    left: 20px;
    right: auto
}

#susi-launcher-container.susi-launcher-left {
    left: 20px;
    right: auto;
    flex-direction: row-reverse
}

#susi-frame-container.susi-frame-container-active {
    display: block;
    height: 70%;
    width: 350px;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
    -webkit-animation: moveFromBottomFade .3s ease both;
    animation: moveFromBottomFade .3s ease both
}

@media only screen and (max-device-width:667px),
screen and (max-width:450px) {
    #susi-frame-container.susi-frame-container-active {
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 0;
        max-height: none
    }
}

@-webkit-keyframes moveFromBottomFade {
    0% {
        opacity: .2;
        -webkit-transform: translateY(5%)
    }
}

@keyframes moveFromBottomFade {
    0% {
        opacity: .2;
        -webkit-transform: translateY(5%);
        transform: translateY(5%)
    }
}

#susi-launcher-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    direction: ltr;
    z-index: 2147482999
}

#susi-launcher-container .susi-launcher {
    font-family: Open Sans, sans-serif;
    height: 42px;
    visibility: hidden;
    -webkit-transform: translateZ(0);
    border-radius: 5em;
    cursor: pointer;
    padding: 0 20px;
    transition: transform .15s ease-in-out, box-shadow .15s ease-in-out;
}

#susi-launcher-container .susi-launcher:hover {
    box-shadow: 0 4px 42px 0 rgba(0, 0, 0, .25);
}

#susi-launcher-container.susi-launcher-enabled #susi-launcher {
    visibility: visible;
    transform: translateY(150px);
    animation: launcher-frame-appear .25s ease forwards
}

@-webkit-keyframes launcher-frame-appear {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes launcher-frame-appear {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.susi-flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center
}

#susi-launcher-container .susi-launcher-button,
#susi-offline-container .susi-launcher-button {
    right: 0;
    width: 18px;
    height: 18px;
    margin: 2px 2px 2px 0;
    background-position: 50%;
    background-repeat: no-repeat
}

#susi-launcher-container #susi-launcher-text {
    color: #fff;
    font-weight: 400;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 18px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media only screen and (max-device-width:667px),
screen and (max-width:450px) {
    #susi-launcher-container #susi-launcher-text {
        display: none
    }
    #susi-launcher-container .susi-launcher {
        width: 60px;
        height: 60px;
        padding: 0
    }
    #susi-launcher-container .susi-launcher-button {
        width: 30px;
        height: 30px
    }
}

#susi-launcher-container.susi-avatar-launcher {
    bottom: 15px
}

#susi-launcher-container.susi-avatar-launcher #susi-launcher,
#susi-launcher-container.susi-launcher-notext #susi-launcher {
    padding: 0;
    height: auto
}

#susi-launcher-container.susi-launcher-notext .susi-launcher-button {
    width: 55px;
    height: 55px;
    background-size: 40px;
    margin: 4px
}

#susi-launcher-container.susi-avatar-launcher .susi-launcher-button {
    width: 60px;
    height: 60px;
    background-size: 60px;
    border-radius: 50%;
    margin: -1px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15)
}

#susi-launcher-container.susi-avatar-launcher.susi-launcher-center .susi-launcher-button {
    margin: 2px
}

#susi-launcher-container.susi-launcher-notext #susi-launcher-text {
    display: none
}

#susi-launcher-container.susi-avatar-launcher .susi-launcher-button:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #2ecc71;
    bottom: 5px;
    right: -1px
}

#susi-launcher-container #susi-avatar-text {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    z-index: 2147482999;
    cursor: pointer;
    background-color: #fff;
    color: #666;
    padding: 10px;
    border-radius: .625rem;
    white-space: normal;
    text-overflow: ellipsis;
    max-width: 270px;
    margin: 0 15px;
    display: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
    animation: launcher-frame-appear .25s ease forwards
}

#susi-launcher-container.susi-launcher-enabled.susi-avatar-launcher #susi-avatar-text {
    display: block
}

#susi-launcher-container.susi-avatar-launcher #susi-launcher-text {
    display: none
}

#susi-launcher-container #susi-avatar-text:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -15px;
    top: 34%;
    bottom: auto;
    border: 8px solid;
    border-color: transparent transparent transparent #fff
}

#susi-launcher-container.susi-launcher-left #susi-avatar-text:before {
    left: -15px;
    border-color: transparent #fff transparent transparent
}

#susi-launcher-close {
    z-index: 2147483001;
    cursor: pointer;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    bottom: calc(70% + 40px);
    right: 35px;
    width: 30px;
    height: 30px;
    background-color: #666;
    border-radius: 50%;
    background-image: url(close.png);
}

@media only screen and (max-device-width:667px),
screen and (max-width:450px) {
    #susi-launcher-close {
        bottom: 93%;
        right: 15px;
    }
}
