@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Satisfy);


/* General */
.susi-bot-wrap * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.bot-txt {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f00d";
}
/* General end*/


/* Demo */
.hd1 {
  margin-top: 15vh;
  font-size: 50px;
  font-weight: 100;
}

.powered {
  font-size: 17px;
  margin-top: 20px;
}

.powered img {
  width: 110px;
  position: relative;
  top: 8px;
}

.footer {
  margin-top: 50px;
  position: absolute;
  bottom: 40px;
  width: auto;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.foo-txt {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Satisfy', cursive;
  text-shadow: none;
  color: #272727;
}

.fa-heart {
  color: #fb2323;
}
/* Demo end */



/* .susi-bot-wrap */
.susi-bot-wrap.center .chatCont,
.susi-bot-wrap.center .profile_div {
  left: 0;
  right: 0;
  margin: 0 auto;
}

.susi-bot-wrap.left .chatCont,
.susi-bot-wrap.left .profile_div {
  left: 0;
}

.susi-bot-wrap .chatCont {
  position: fixed;
  width: 400px;
  height: 400px;
  border: 1px solid #dcdcdc;
  bottom: 65px;
  right: 0;
  background: #efe7dd url("https://skills.susi.ai/chat-background.png") repeat;
  border-top-left-radius: 3px;
  z-index: 10000;
display: none;
}

.susi-bot-wrap .close {
  position: absolute;
  right: 5px;
  margin-top: -60px;
  color: #0080c0;
  font-size: 18px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 2px;
  opacity: 0.9;
}

.susi-bot-wrap .close:hover {
  opacity: 1;
}

.susi-bot-wrap .bot_profile {
  position: absolute;
  right: 0;
  margin-top: -45px;
  text-align: center;
  width: 400px;
  display: none;
  z-index: 1000;
}

.susi-bot-wrap .bot_p_img {
  width: 80px;
  border-radius: 25%;
  padding: 3px;
  background: #fff;
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16), 0 0px 10px 0 rgba(0,0,0,0.12);
}

.susi-bot-wrap .chatForm {
  position: absolute;
  bottom: -65px;
  right: 0;
  margin-bottom: 0;
  width: 400px;
  display: none;
}

.susi-bot-wrap .bot-txt,
.susi-bot-wrap .bot-txt:focus {
  box-shadow: none;
  border-radius: 0;
  height: 66px;
  border: 0;
  border-top: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
}

.susi-bot-wrap .resultDiv .botResult {
  background: #fff;
  color: #000;
  border-radius: 3px;
  padding: 12px;
  font-size: 14px;
  font-weight: 400;
  width: 400px;
  float: left;
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16),0 0px 10px 0 rgba(0,0,0,0.12);
  border-top-left-radius: 0;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 100%;
  position: relative;
}

.susi-bot-wrap .resultDiv .botResult:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-right: 15px solid #fff;
  left: -15px;
  margin-top: -12px;
}

.susi-bot-wrap .resultDiv .userEnteredText {
  background: rgb(66, 133, 244);
  float: right;
  color: #ffffff;
  border-radius: 3px;
  padding: 12px;
  font-size: 15px;
  font-weight: 400;
  width: 400px;
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16),0 0px 10px 0 rgba(0,0,0,0.12);
  border-top-right-radius: 0;
  position: relative;
  left: -6px;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 100%;
  word-wrap: break-word;
}

.susi-bot-wrap .resultDiv .userEnteredText:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 0px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-left: 15px solid rgb(66, 133, 244);
  position: absolute;
  right: -15px;
  margin-top: -12px;
}

.susi-bot-wrap .profile_div {
  position: fixed;
  bottom: 0;
  right: 10px;
  width: 240px;
  cursor: pointer;
}

.susi-bot-wrap .img-profile {
  width: 65px;
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16), 0 0px 10px 0 rgba(0,0,0,0.12);
  background: white;
}

.susi-bot-wrap .col-hgt {
  height: 100px;
  display: flex;
  align-items: center;
  float: left;
  margin-right: 10px;
}

.susi-bot-wrap .chat-txt {
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16),0 0px 10px 0 rgba(0,0,0,0.12);
  padding: 15px 15px;
  border-radius: 50px;
}

/* Spinner start */
.susi-bot-wrap .spinner {
  background: rgb(66, 133, 244);
  width: 70px;
  text-align: center;
  display: none;
  border-radius: 4px;
  position: relative;
  top: -7px;
  left: 19px;
  padding: 7px 10px;
  border-top-left-radius: 0;
}

.susi-bot-wrap .spinner:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-right: 15px solid rgb(66, 133, 244);
  left: -15px;
  margin-top: -7px;
}

.susi-bot-wrap .spinner > div {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  margin-right: 5px;
}

.susi-bot-wrap .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.susi-bot-wrap .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/* Spinner End */

.resultDiv {
  padding: 35px 20px 30px 20px;
  overflow-y: auto;
  height: 100%;
}


@media screen and (max-width: 500px) {
  .susi-bot-wrap .resultDiv .userEnteredText,
  .susi-bot-wrap .resultDiv .botResult,
  .susi-bot-wrap .suggestion {
    width: 90%;
    margin-bottom: 20px;
  }
  .susi-bot-wrap .chatCont,
  .susi-bot-wrap .chatForm {
    width: 100%;
  }
  .susi-bot-wrap .chatCont {
    height: 70%;
  }
}
/* .susi-bot-wrap end */
