.signupForm {
    margin: 0 auto;
    padding: 10px 0;
}

.signupForm h3 {
    margin: 5px 0;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .signupForm h3 {
        font-size: 16px;
    }
}

.loginLinks {
    color: #365899;
    cursor: pointer;
    font-size: 12px;
}

.loginLinks:hover {
    color: #365899;
    text-decoration: underline;
}
