body {
    height: auto;
}

abbr[title] {
  border-bottom: none;
  cursor: inherit;
  text-decoration: none;
}

.avatar-meta {
    display: flex;
    min-height: 200px;
}

.avatar {
    padding-right: 40px;
    font-size: 48px;
    float: left;
}

.examples{
  display: flex;
  flex-wrap: wrap;
}

.examples > div{
    margin-top:10px ;
}

.exampleTile{
  height: auto;
  width: 200px;
  margin-right: 20px;
  box-shadow: none;
  padding: 20px;
  color: #555;
  max-height: 80px;
}

.margin-b-md {
    margin-bottom: 24px;
}

.margin-t-md {
    margin-top: 24px;
}

.skill_listing_container {
    width: 100%;
    max-width: 1000px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-left: 1%;
    padding-right: 1%;
}

.skill_loading_container {
    text-align: center;
    margin-top: 100px;
}

.linkButtons {
  display: inline;
  float: right;
  margin-top: 10px;
}

.skillEditBtn {
  display: inline;
  margin-top: -10px;
  float: left;
}

.skillEditBtn > button{
    background-color: #4285f4;
}

.skillVersionBtn {
  display: inline;
  margin-left: 10px;
}

.avatar-img {
    height:200px;
    width:auto;
}

@media only screen and (min-width: 0px) and (max-width: 768px){

  .avatar-img {
     display:inline;
  }
    .avatar {
        float:none;
        text-align:center;
    }

  .exampleTile{
    width: 90%;
  }
  .skill_listing_container {
      padding: 32px;
  }

  .avatar-meta {
      display: flex;
      min-height: 0px;
  }
}
