.SettingsTab{
    padding: 0px;
    width: auto;
    margin: 0 auto;
}
.heading{
    background-color: #f7f7f7;
    height: 150px;
}
.tabs{
    margin-top: -35px;
    padding-left: 70px;
    padding-right: 70px;
}
.containerDiv{
    background-color: #ffffff;
}

.temp{
    margin-top: 1;
}

.h1{
    padding-top: 65px;
    font-size: 40px;
    margin-left: 21px;
}

.containerPaper{0pxgit s
    margin-top: -68px;
    margin-left: 60px;
    margin-right: 40px;
}