.skillcreator-col{
	position: fixed;
	margin-left: 65%;
	height: 88%;
	margin-top: 10px;
	padding-right: 30px;
	width: 100%;
}

button {
	transition: none !important;
}
button > div {
	transition: none !important;
}
button > div > div {
	transition: none !important;
}
button > svg {
	transition: none !important;
}

@media only screen and (max-width:769px){
	.skillcreator-col{
		position: inherit  ;
		margin-left: 0px ;
		margin-bottom: 40px;
	}
}
