.ratings-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 24px;
}

.rating-bar-chart {
    flex: 3;
    margin: 16px 32px 16px 16px;
    padding: 20px;
}

.ratings-section div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.average {
  display: flex;
  flex-direction: column;
  padding: 24px 48px 24px 48px;
}

.total-rating {
  display: flex;
  flex-direction: column;
  padding: 24px 48px 24px 48px;
}
