.title {
  font-weight: normal
}

.usage-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 24px;
}

.skill-usage-chart {
    flex: 3;
    margin: 16px 32px 16px 16px;
    padding: 20px;
}

.overall-usage div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-hits {
  display: flex;
  flex-direction: column;
  padding: 24px 48px 24px 48px;
}

.default-message {
  margin: 10px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.recharts-legend-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
