.code-box {
	position: relative;
	background: #d3d3d3;
	border-radius: .4em;
	display: inline-block;
	padding:10px 20px;
	-webkit-box-shadow: 0 3px 2px 0 rgba(0,0,0,.1);
	box-shadow: 0 3px 2px 0 rgba(0,0,0,.1);
	margin-bottom: 5px;
}

.center{
	text-align: center;
}

.code-wrap{
	transition: all 0.3s ease-in;
	display: none;
}
.hide{
	display: none;
}
.show{
	display: block;
}
.design-box{
	width: 400px;
	max-width: 100%;
	text-align: left;
}
.sketch-picker{
	margin: auto;
}
.menu-page{
	margin-top: 40px;
}
.preview-wrap{
	margin-top: 10px;
}
.botBuilder-page-card{
	padding: 30px 0px;
}
.copy-button{
	position: absolute;
	opacity: 0;
	transition: ease-in 0.1s;
	top: 5px;
	right: 7px;
	background-color: #4285f5;
	font-size: 15px;
	color: #fff;
	padding: 4px 9px;
	cursor: pointer;
	border-radius: .4em;
	box-shadow: -1px 3px 9px 0px #2222226e;
}
.code-box:hover .copy-button{
	opacity: 1;
}
.copy-button:hover{
	background-color: #729ce2;
}
.color-box{
	width: 23px;
	height: 23px;
	display: inline-block;
	border-radius: 3px;
	border: solid 1px #0000006e;
	cursor: pointer;
}
.color-picker-wrap>div{
	display: inline-block;
}
.color-picker-wrap>div>div{
	width:200px;
}
.bot-avatar{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 10px;
	cursor: pointer;
}
.icon-wrap{
	display: inline-block;
	position: relative;
}
.icon-wrap .tick{
	display: none;
	position: absolute;
	top: -7px;
	right: 3px;
	font-size: 23px;
	color: #4285f5;
}
.icon-selected .tick{
	display: block;
}
.icon-selected .bot-avatar{
	border: solid 2px #4285f5;
}
@media (min-width:769px){
	.botbuilder-page-wrapper{
		padding: 40px 30px 30px;
	}
	.botBuilder-page-card{
		padding: 30px;
	}
	.display-mobile-only{
		display: none;
	}
}
