.code-box {
	position: relative;
	background: #d3d3d3;
	border-radius: .4em;
	display: inline-block;
	padding:10px 20px;
	-webkit-box-shadow: 0 3px 2px 0 rgba(0,0,0,.1);
    box-shadow: 0 3px 2px 0 rgba(0,0,0,.1);
	margin-bottom: 5px;
}

.code-box:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-bottom-color: #d3d3d3;
	border-top: 0;
	margin-left: -15px;
	margin-top: -15px;
}
.code-wrap{
	transition: all 0.3s ease-in;
	display: none;
}
.code-wrap.show{
	display: block;
}
