.forgotPassword {
  margin-left:20%;
  color: #365899;
  cursor: pointer;
  font-size: 12px;
}

.signup {
  margin-right:20%;
  color: #365899;
  cursor: pointer;
  font-size: 12px;
}

.loginLinks:hover {
  color: #365899;
  text-decoration: underline;
}

.loginForm {
  margin: 0 auto;
  padding: 10px 0;
}

.loginLinksSection {
  display: flex;
  justify-content: space-evenly;
  padding: 0 30px 0 30px;
  margin-top:10px;
}

.loginForm div {
  margin: unset;
}

#loginHeading {
  margin-bottom:-3px;
  margin-top:7px;
}

#loginLinks {
  margin-top:-2px;
  margin-bottom:8px;
}

@media screen and (max-width: 1100px) {
  .forgotPassword {
    margin-left:5%;
  }
  .signup {
    margin-right:5%;
  }
}

@media screen and (max-width: 768px) {
  .loginForm h3{
    font-size: 16px;
  }
}
