.footer-wrapper{
    background: #f6f6f6;
    width: 100%;
    position: relative;
    z-index: 10;
    border: 1px solid #ddd;
}

.footer-container {
    display: -webkit-box;
    display: flex;
    align-items: center;
    padding: 30px 50px;
    display: -ms-flexbox;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}


.footer{
    background: #f6f6f6;
    margin-top:0px;
    min-height: 20px;
    max-width: 100%;
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.footer li {
    padding: 8px;
}

.footer li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    color: #414141;
}

.footer ul{
    list-style: none;
    list-style-type: none;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 8px;
}

.footer li a:hover {
    color:#3367d6;
}

.susi-logo{
    height: 10px;
    vertical-align: middle;
    max-width: 100px;
    margin: 10px 48px 10px 0px;
}

.footer-left {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

@media only screen and (max-width: 707px){

    .footer {
        padding-top: 0px;
        justify-content: center;
    }

    .footer-container {
        display: block;
    }

    .susi-logo-container {
        display: flex;
        justify-content: center;
    }

    .susi-logo {
        height:10px;
        max-width: 100px;
        margin: 10px;
    }
}