.bold {
    font-weight: bold;
}

div.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.clear-button:hover {
    color: #4285f4;
}

.index-link-sidebar {
    font-size: 15px;
    width: fit-content;
    color: black;   
}

.index-link-sidebar:hover {
    color: #284779;
    cursor: pointer;
}

.category-sidebar-section {
    margin-top: 15px;
    margin-left: 12px;
    width: fit-content;
}

.create-button button div div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
}

.create-button button div {
    width: 100%;
}

.metrics-header {
    font-size: 21px;
}

@media screen and (max-width: 418px) {
    .metrics-header {
        font-size: 15px;    
    }
}
